beamerposter.sty linguist-vendored
beamerthemeTUGraz.sty linguist-vendored
main.aux linguist-vendored
main.bbl linguist-vendored
main.blg linguist-vendored
main.fdb_latexmk linguist-vendored
main.fls linguist-vendored
main.log linguist-vendored
main.nav linguist-vendored
main.out linguist-vendored
main.snm linguist-vendored
main.synctex.gz linguist-vendored
main.toc linguist-vendored
tangocolors.sty linguist-vendored
